.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.hidden{
  overflow: hidden;
  box-shadow: 1px 1px 1px 1px black;
}
.hidden:hover .buttonPosition{
  left : 20px;
  transition: 0.3s ease-in-out;
}

.hidden:hover {
  box-shadow: 1px 1px 1px 1px red;
}
.buttonPosition{
  position: relative;
  left : 45px;
  bottom: 5px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
